<!DOCTYPE html>
<html>
<head>
    <title>Google Maps Homework</title>

    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body>

<h2>Google Maps Interactive</h2>

<!-- Form to center map -->
<h3>Go to Position</h3>

Latitude:
<input type="text" id="lat">

Longitude:
<input type="text" id="lng">

Message:
<input type="text" id="msg">

<button onclick="goToLocation()">Go</button>

<br><br>

<!-- Polygon form -->
<h3>Draw Polygon</h3>

Latitude:
<input type="text" id="plat">

Longitude:
<input type="text" id="plng">

<button onclick="addPoint()">Add Point</button>

<br><br>

<!-- Map -->
<div id="map"></div>

<script>


var map;
var marker;
// Default polygon points around Chlef
var points = [
    {lat: 36.1690, lng: 1.3170},
    {lat: 36.1705, lng: 1.3350},
    {lat: 36.1570, lng: 1.3400},
    {lat: 36.1550, lng: 1.3200}
];
var polygon;

function initMap() {

    map = new google.maps.Map(document.getElementById("map"), {

        center: { lat: 36.256816, lng: 1.028892 },
        zoom: 10,
        mapTypeId: 'satellite'

    });


    // Click on map to get coordinates
    map.addListener("click", function(event){
        alert(
            "Latitude: " + event.latLng.lat() +
            "\nLongitude: " + event.latLng.lng()
        );
    });

    // Draw default polygon on map load
    drawPolygon();

}

// Center map from form
function goToLocation(){

    var lat = parseFloat(document.getElementById("lat").value);
    var lng = parseFloat(document.getElementById("lng").value);
    var message = document.getElementById("msg").value;

    var position = {lat: lat, lng: lng};

    map.setCenter(position);

    // Add marker
    marker = new google.maps.Marker({
        position: position,
        map: map
    });

    // Info window
    var info = new google.maps.InfoWindow({
        content: message
    });

    marker.addListener("click", function(){
        info.open(map, marker);
    });

}


// Add polygon points
function addPoint(){

    var lat = parseFloat(document.getElementById("plat").value);
    var lng = parseFloat(document.getElementById("plng").value);

    points.push({lat:lat, lng:lng});

    drawPolygon();

}


// Draw polygon
function drawPolygon(){

    if (polygon) {
        polygon.setMap(null);
    }

    polygon = new google.maps.Polygon({

        paths: points,
        strokeColor: "#FF0000",
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: "#FF0000",
        fillOpacity: 0.35

    });

    polygon.setMap(map);

}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7HmlaV2kr3f64MDpTNGjDRBh2Ek5G20o&callback=initMap">
</script>

</body>
</html>